
@using System.Collections
@using Entitiy.Models
@model IEnumerable<Entitiy.Models.Kullanici>

@{
    Layout = null;
}

@{
    ViewBag.Title = "Sonuclar";
}

<div class="container">

<!-- Page Heading/Breadcrumbs -->
<p>
    <h1 class="text-center">Bulunan Gruplar</h1>
</p>

@foreach (var item in Model)
{
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <a href="/Home/GrupDetay/@item.Id">
                        <img class="img-fluid rounded" src="@item.Resim" alt="">
                    </a>
                </div>
                <div class="col-lg-6">
                    <h2 class="card-title">@item.GrupAdi</h2>
                    <p class="card-text">@item.Aciklama</p>
                    <a href="/Home/GrupDetay/@item.Id" class="btn btn-primary">Daha Fazla &rarr;</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Kuruluş Tarihi: @item.KurulusTarihi
            <a href="#">Tür: @item.KullaniciTur.TurAdi</a>
        </div>
    </div>
}
    </div>
