@using System.Collections
@using Entitiy.Models
@using Microsoft.Ajax.Utilities
@model IEnumerable<Entitiy.Models.Kullanici>

@{
    ViewBag.Title = "Discover";
}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <p>
        <h1 class="text-center">Latest Groups</h1>
    </p>

    @foreach (var item in Model)
    {
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="/Home/GrupDetay/@item.Id">
                            <img class="img-fluid rounded" src="@item.Resim" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="card-title">@item.GrupAdi</h2>
                        <p class="card-text">@item.Aciklama</p>
                        <a href="/Home/GrupDetay/@item.Id" class="btn btn-info">More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Start Date: @{
                    if (item.KurulusTarihi == null)
                    {
                        <b>"unspecified"</b>
                    }
                    else
                    {
                        <b>@item.KurulusTarihi.Value.ToShortDateString()</b>
                    }
                }
                - Genre: <b>@item.KullaniciTur.TurAdi</b>
                - Group Members: @{
                    if (item.GrupUyeleri == null)
                    {
                        <b>"unspecified"</b>
                    }
                    else
                    {
                        <b>@item.GrupUyeleri</b>
                    }
                }
            </div>
        </div>
    }




    <!-- Pagination -->
    @*<ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>*@

</div>
