
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Muzik.Models
@model IEnumerable<Entitiy.Models.Kullanici>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
		
        
        <div class="col-md-12">
            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped">

                    <thead>

                    <th>Email</th>
                    <th>Grup Adı</th>
                    <th>Grup Üyeleri</th>
                    <th class="text-center">Blog Moderatörü Yap</th>
                    <th>Sil</th>

                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Email</td>
                            <td>@item.GrupAdi</td>
                            <td>@item.GrupUyeleri</td>
                            <td class="text-center">
                                @{
                                    var _context = new ApplicationDbContext();
                                    var UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(_context));
                                }
                                @if (UserManager.IsInRole(item.Id,"BlogModerator")==false)
                                {
                                    //item.Roles.FirstOrDefault(x => x.UserId == item.Id) == null
                                    <button type="button" class="btn btn-success modBtn " data-toggle="modal" data-target="#myModal2" rel="@item.Id"><i class="fa fa-check-circle"></i></button>
                                }
                            </td>
                            <td>
                                <button  type="button" class="btn btn-danger silBtn" data-toggle="modal" data-target="#myModal" rel="@item.Id"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    }


                    </tbody>

                </table>

                <div class="clearfix"></div>
                @*<ul class="pagination pull-right">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>*@

            </div>

        </div>
    </div>
</div>

<!-- ModalDelete -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kayıt Sil</h4>
            </div>
            <div class="modal-body">
                <p><span class="alert alert-danger">Bu kaydı silmek istediğinizden emin misiniz ?</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <button type="button" id="modalBtnSil" class="btn btn-danger" data-dismiss="modal">Sil</button>
            </div>
        </div>

    </div>
</div>

<script>
    var id = "";
    $(".silBtn").click(function() {
        id =  $(this).attr("rel");
        console.log(id);
    });
    $("#modalBtnSil").click(function () {
        
        $.ajax({
            url: '/Admin/Kullanici/KullaniciSil/' + id,
            type: "POST",
            success: function (data) {
                alert(data);
                window.location.reload();
            },
            error: function () {
                alert('Kayıt silinirken hata oluştu');
            }
        });
    });
    
</script>

<!-- ModalMpd -->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Moderatör Yap</h4>
            </div>
            <div class="modal-body">
                <p><span class="alert alert-danger">Bu kullanıcıyı blog moderatörü yapmak istediğinizden emin misiniz ?</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <button type="button" id="modalBtnMod" class="btn btn-success" data-dismiss="modal">Onayla</button>
            </div>
        </div>

    </div>
</div>

<script>
    var id = "";
    $(".modBtn").click(function() {
        id =  $(this).attr("rel");
        console.log(id);
    });
    $("#modalBtnMod").click(function () {

        $.ajax({
            url: '/Admin/Kullanici/ModYap/' + id,
            type: "POST",
            success: function (data) {
                alert(data);
                window.location.reload();
            },
            error: function () {
                alert('Hata oluştu');
            }
        });
    });

</script>